---
# This is the internal user database
# The hash value is a bcrypt hash and can be generated with plugin/tools/hash.sh

_meta:
  type: "internalusers"
  config_version: 2

# Define your internal users here

{{ getenv "READONLY_USER" "dashboards" }}:
    hash: "{{ getenv "READONLY_HASH" }}"
    reserved: true
    backend_roles:
    - "kibanauser"
    - "readall"
    description: "Read-only user"

admin:
  hash: "{{ getenv "ADMIN_HASH" }}"
  reserved: true
  backend_roles:
  - "admin"
  description: "Admin user"

kibanaserver:
  hash: "{{ getenv "KIBANASERVER_HASH" }}"
  reserved: true
  description: "OpenSearch Dashboards user"

fluent:
  hash: "{{ getenv "FLUENT_HASH" }}"
  reserved: false
  backend_roles:
  - "logstash"
  description: "Fluntd log feeding user"
