status = error

appender.console.type = Console
appender.console.name = console
appender.console.layout.type = PatternLayout
appender.console.layout.pattern = [%d{ISO8601}][%-5p][%-25c{1.}] %marker%m%n

rootLogger.level = info
rootLogger.appenderRef.console.ref = console

{{- if eq (getenv "OIDC_DEBUG") "1" }}
logger.securityjwt.name = com.google.dlic.auth.http.jwt
logger.securityjwt.level = debug
{{- end }}

{{- if eq (getenv "SAML_DEBUG") "1" }}
logger.token.name = {{ getenv "SAML_DEBUG_TOKEN" "com.google.dlic.auth.http.saml.Token" }}
logger.token.level = debug
{{- end }}
